.archive__item-title {
  font-size: 1.05rem;
  line-height: 1.25;
  margin: 0.35rem 0 0.35rem 0;
}

.archive__item-title a {
  color: inherit;            /* enlève le bleu */
  text-decoration: none;     /* pas souligné */
  font-weight: 650;
}

.archive__item-title a:hover {
  text-decoration: underline;
}


.archive__item-teaser img {
  width: 100%;
  height: 170px;      /* ajuste 150–200 selon ton goût */
  object-fit: cover;  /* recadrage propre */
  border-radius: 10px;
  display: block;
}